## Importar biblioteca

In [1]:
import pandas as pd

## Definir série de dados

In [2]:
df = pd.DataFrame({'Nota': ['A','A','A','B','B', 'B', 'B', 'C', 'D', 'D'],
                   'Idade': [18, 18, 18, 19, 19, 20, 18, 18, 19, 19],
                   'Sexo': ['M','M', 'F', 'F', 'F', 'M', 'M', 'F', 'M', 'F']})

## Visualizar os dados

In [3]:
df

  Nota  Idade Sexo
0    A     18    M
1    A     18    M
2    A     18    F
3    B     19    F
4    B     19    F
5    B     20    M
6    B     18    M
7    C     18    F
8    D     19    M
9    D     19    F

## Calcular frequência (por nota)

In [4]:
pd.crosstab(index=df['Nota'], columns='count')

col_0  count
Nota
A          3
B          4
C          1
D          2

## Calcular frequência (por idade)

In [6]:
pd.crosstab(index=df['Idade'], columns='count')

col_0  count
Idade
18         5
19         4
20         1

## Calcular frequência (por idade e nota)

In [10]:
pd.crosstab(index=df['Idade'], columns=df['Nota'])

Nota   A  B  C  D
Idade
18     3  1  1  0
19     0  2  0  2
20     0  1  0  0

## Proporções

In [9]:
tab = pd.crosstab(index=df['Idade'], columns='count')
tab/tab.sum()

col_0  count
Idade
18       0.5
19       0.4
20       0.1